@{
    Layout = null;
}
<!-- Social Profiles -->
<h5 class="tittle">Social Profiles</h5>
<div class="social-icon bor-btm padding-25">
    <ul>
        <li>
            <i class="fa fa-facebook"></i>
            <input class="form-control" type="text" placeholder="facebook.com/billgates">
        </li>
        <li>
            <i class="fa fa-twitter"></i>
            <input class="form-control" type="text" placeholder="twitter.com/billgates">
        </li>
        <li>
            <i class="fa fa-google-plus"></i>
            <input class="form-control" type="text" placeholder="google.com/billgates">
        </li>
        <li>
            <i class="fa fa-linkedin"></i>
            <input class="form-control" type="text" placeholder="linkedin.com/billgates">
        </li>
        <li>
            <i class="fa fa-dribbble"></i>
            <input class="form-control" type="text" placeholder="dribbble.com/billgates">
        </li>
        <li>
            <i class="fa fa-behance"></i>
            <input class="form-control" type="text" placeholder="behance.com/billgates">
        </li>
        <li>
            <i class="fa fa-stumbleupon"></i>
            <input class="form-control" type="text" placeholder="stumbleupon.com/billgates">
        </li>
    </ul>
</div>