USE [master]
GO
/****** Object:  Database [OnlineCV]    Script Date: 5/30/2019 13:39:42 ******/
CREATE DATABASE [OnlineCV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineCV', FILENAME = N'D:\sql\MSSQL14.MSSQLSERVER\MSSQL\DATA\OnlineCV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineCV_log', FILENAME = N'D:\sql\MSSQL14.MSSQLSERVER\MSSQL\DATA\OnlineCV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineCV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineCV]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicBackgrounds]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicBackgrounds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Qualification] [nvarchar](20) NOT NULL,
	[Degree] [nvarchar](20) NOT NULL,
	[UniversityName] [nvarchar](50) NOT NULL,
	[YearofObtention] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[mediaUrl] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.AcademicBackgrounds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bios]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SkillLevel] [nvarchar](max) NULL,
	[SkillDescription] [nvarchar](max) NULL,
	[IsBar] [bit] NOT NULL,
	[IsTag] [bit] NOT NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Bios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailModels]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ToMails] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Body] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[Answer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EmailModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorHistories]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](max) NULL,
	[ActionName] [nvarchar](max) NULL,
	[ErrorCode] [int] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.ErrorHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonDetails]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Age] [int] NOT NULL,
	[Location] [nvarchar](70) NOT NULL,
	[Experience] [nvarchar](max) NULL,
	[Degree] [nvarchar](70) NOT NULL,
	[MediaUrl] [nvarchar](max) NULL,
	[CareerLevel] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.PersonDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessionalExperiences]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessionalExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Duration] [nvarchar](max) NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[MediaUrl] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.ProfessionalExperiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialProfiles]    Script Date: 5/30/2019 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Facebook] [nvarchar](max) NULL,
	[Google] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Linked] [nvarchar](max) NULL,
	[Skype] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedId] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedId] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedId] [int] NULL,
 CONSTRAINT [PK_dbo.SocialProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicBackgrounds] ON 

INSERT [dbo].[AcademicBackgrounds] ([Id], [Qualification], [Degree], [UniversityName], [YearofObtention], [Details], [mediaUrl], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (1, N'2011-2015', N'Bachelor', N'Oxford', N'Oxford', N'one of the best ', NULL, CAST(N'2019-05-24T00:00:00.000' AS DateTime), NULL, CAST(N'2019-05-26T08:55:00.400' AS DateTime), NULL, CAST(N'2019-05-29T16:33:30.397' AS DateTime), NULL)
INSERT [dbo].[AcademicBackgrounds] ([Id], [Qualification], [Degree], [UniversityName], [YearofObtention], [Details], [mediaUrl], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (2, N'2001-2002', N'master', N'oxford', N'oxford', N'iuhibob', N'2019_05_25_01_03_08photo-1485686531765-ba63b07845a7.jpg', NULL, NULL, CAST(N'2019-05-25T14:18:10.130' AS DateTime), NULL, CAST(N'2019-05-29T17:32:58.273' AS DateTime), NULL)
INSERT [dbo].[AcademicBackgrounds] ([Id], [Qualification], [Degree], [UniversityName], [YearofObtention], [Details], [mediaUrl], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (12, N'2015-2019', N'Bachelor', N'ODLAR', N'2019', N'Best of bests', N'2019_05_30_01_37_49photo-1539447963147-7a2a09c15879.jpg', CAST(N'2019-05-30T09:37:49.503' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AcademicBackgrounds] OFF
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (1, N'alakbarsa@code.az', N'alakbar123', CAST(N'2019-05-24T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Bios] ON 

INSERT [dbo].[Bios] ([Id], [CategoryId], [SkillId], [Description], [SkillLevel], [SkillDescription], [IsBar], [IsTag], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (31, 6, 1, N'adaxzzx z z zx zxz xc zx ax ', NULL, NULL, 0, 1, CAST(N'2019-05-30T09:36:19.987' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bios] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (6, N'FrontEnd', CAST(N'2019-05-24T11:49:14.860' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (7, N'BackEnd', CAST(N'2019-05-24T11:49:29.037' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (8, N'C#', CAST(N'2019-05-24T11:49:35.243' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[EmailModels] ON 

INSERT [dbo].[EmailModels] ([Id], [Name], [ToMails], [UserEmail], [Subject], [Body], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId], [IsRead], [Answer]) VALUES (1, N'Vusal', N'alakbarsa@code.edu.az', N'Vusalim@code.edu.az', N'sdvvs', N'dfsbb gdsb ths  etsh s hf fnwth  sd h h shsd hs s htsd hdsth hsdh sthsht', NULL, NULL, NULL, NULL, CAST(N'2019-05-29T10:20:04.497' AS DateTime), NULL, 1, N'namuslu aile heyati')
INSERT [dbo].[EmailModels] ([Id], [Name], [ToMails], [UserEmail], [Subject], [Body], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId], [IsRead], [Answer]) VALUES (2, N'Iqbal', N'alakbarsa@code.edu.az', N'Iqbalzh@code.edu.az', N'kab', N'skbcskj sjbcskj sjnc cnsljn sljc', NULL, NULL, NULL, NULL, NULL, NULL, 1, N'diqqetli ol!11!!1')
INSERT [dbo].[EmailModels] ([Id], [Name], [ToMails], [UserEmail], [Subject], [Body], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId], [IsRead], [Answer]) VALUES (3, N'Iqbal', N'alakbarsa@code.edu.az', N'Iqbalzh@code.edu.az', N'kfv', N'fgeb rwgb gb rgb rgb re brg reb rgb rg ebrgb rg brg ebr ', NULL, NULL, NULL, NULL, CAST(N'2019-05-29T10:20:10.347' AS DateTime), NULL, 1, N'dilwnwlj lrn')
SET IDENTITY_INSERT [dbo].[EmailModels] OFF
SET IDENTITY_INSERT [dbo].[ErrorHistories] ON 

INSERT [dbo].[ErrorHistories] ([Id], [AreaName], [ControllerName], [ActionName], [ErrorCode], [ErrorMessage], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (1, NULL, N'Skill', N'Create', 500, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ErrorHistories] ([Id], [AreaName], [ControllerName], [ActionName], [ErrorCode], [ErrorMessage], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (2, NULL, N'Skill', N'Create', 500, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ErrorHistories] ([Id], [AreaName], [ControllerName], [ActionName], [ErrorCode], [ErrorMessage], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (3, NULL, N'Skill', N'Create', 500, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ErrorHistories] ([Id], [AreaName], [ControllerName], [ActionName], [ErrorCode], [ErrorMessage], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (16, NULL, N'dashboard', N'resume', NULL, N'The view ''resume'' or its master was not found or no view engine supports the searched locations. The following locations were searched:
~/Views/dashboard/resume.aspx
~/Views/dashboard/resume.ascx
~/Views/Shared/resume.aspx
~/Views/Shared/resume.ascx
~/Views/dashboard/resume.cshtml
~/Views/dashboard/resume.vbhtml
~/Views/Shared/resume.cshtml
~/Views/Shared/resume.vbhtml', CAST(N'2019-05-29T10:22:15.580' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ErrorHistories] ([Id], [AreaName], [ControllerName], [ActionName], [ErrorCode], [ErrorMessage], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (37, NULL, N'Home', N'Contact', NULL, N'Value cannot be null.
Parameter name: subject', CAST(N'2019-05-30T07:38:00.240' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ErrorHistories] ([Id], [AreaName], [ControllerName], [ActionName], [ErrorCode], [ErrorMessage], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (38, NULL, N'Home', N'Contact', NULL, N'Value cannot be null.
Parameter name: subject', CAST(N'2019-05-30T08:08:14.800' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ErrorHistories] OFF
SET IDENTITY_INSERT [dbo].[PersonDetails] ON 

INSERT [dbo].[PersonDetails] ([Id], [Name], [Age], [Location], [Experience], [Degree], [MediaUrl], [CareerLevel], [Phone], [Fax], [Email], [Website], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (1, N'Alakbar', 21, N'Baku,Azerbaijan', N'Junior', N'Bacholar', N'2019_05_30_11_52_122.jpg', N'Zero', N'+994514541312', N'alakbar', N'alakbarsa@code.edu.az', N'alakbar.com', CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, CAST(N'2019-05-30T07:52:12.870' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PersonDetails] OFF
SET IDENTITY_INSERT [dbo].[ProfessionalExperiences] ON 

INSERT [dbo].[ProfessionalExperiences] ([Id], [Duration], [JobTitle], [CompanyName], [MediaUrl], [Location], [Details], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (6, N'2010-2011', N'BackEnd Developer', N'SOCAR', N'2019_05_29_09_23_383.jpg', N'Baku', N's  rh dyj tdj tj tuf uy tfuj gjfghj gj tyjfdj dfhjfd dfhjh gfk ', CAST(N'2019-05-29T17:23:38.763' AS DateTime), NULL, NULL, NULL, CAST(N'2019-05-29T17:23:50.053' AS DateTime), NULL)
INSERT [dbo].[ProfessionalExperiences] ([Id], [Duration], [JobTitle], [CompanyName], [MediaUrl], [Location], [Details], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (15, N'2010-2017', N'BackEnd', N'SOCAR', N'2019_05_30_01_37_06photo-1487744019449-309d7c78014f.jpg', N'Baku', N'One of rare', CAST(N'2019-05-30T09:37:06.053' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProfessionalExperiences] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([Id], [Name], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (1, N'HTML5', CAST(N'2019-05-24T12:34:50.177' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Skills] ([Id], [Name], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (2, N'CSS', CAST(N'2019-05-24T12:34:54.807' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Skills] ([Id], [Name], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (3, N'JavaScript', CAST(N'2019-05-24T12:35:03.030' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[SocialProfiles] ON 

INSERT [dbo].[SocialProfiles] ([Id], [Facebook], [Google], [Twitter], [Linked], [Skype], [CreationDate], [CreatedId], [ModifiedDate], [ModifiedId], [DeletedDate], [DeletedId]) VALUES (1, N'https://www.facebook.com/', N'https://www.google.az/', N'https://twitter.com/', N'https://www.linkedin.com/', N'https://www.skype.com/en/', NULL, NULL, CAST(N'2019-05-30T07:24:19.643' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SocialProfiles] OFF
/****** Object:  Index [IX_CategoryId]    Script Date: 5/30/2019 13:39:42 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Bios]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkillId]    Script Date: 5/30/2019 13:39:42 ******/
CREATE NONCLUSTERED INDEX [IX_SkillId] ON [dbo].[Bios]
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailModels] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Bios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bios_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bios] CHECK CONSTRAINT [FK_dbo.Bios_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Bios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bios_dbo.Skills_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bios] CHECK CONSTRAINT [FK_dbo.Bios_dbo.Skills_SkillId]
GO
USE [master]
GO
